* {
  padding: 0;
  margin: 0;
}


:root {
  --background-color: #16161a;
  --button: #ffd803;
  --buttonText: #272343;
  --headline: #fffffe;
  --paragraf: #94a1b2;
  --paragrafHover: #2d334a97;
  --secondary2: #484c52;

  --main: #fffffe;
  --higlight: #ffd803;
  --secondary: #242629;
  --tertiary: #bae8e8;
}

@media screen and (max-width: 1200px){
  .top-container {
    width: 90%;
  }
}


@media screen and (max-width: 825px){

  * {
    padding: 0;
    margin: 0;
  }

  .logo {
    display: none;
  }
  
  /* BURGER */
  .burger {
    display: block;
    cursor: pointer;
  }

  nav {
    position: fixed;
    width: 40%;
    right: 0;
    top: 0;
    height: 100%;
    flex-direction: column;
    background-color: var(--secondary);
    border-left: 1px solid var(--secondary2);
    z-index: 9;
    transform: translateX(100%);

    transition: .4s ease-in-out;
  }

  nav ul {
    height: 100%;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 200px;
    font-size: 28px;
  }

  .nav li a {
    letter-spacing: 5px;
    color: #fff;
  }

  .nav-active {
    transform: translateX(0);

  }
  .top-container {
    align-items: center;
    margin: 0 auto;
  }
  .mid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 800px;
  }
  .mid-container2 {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
  }
  .container-txt-gif {
    align-items: center;
  }


  .project {
    margin-top: 300px;
  }


  /* TXT RGH */
  .rgh {
    font-size: 17px;
    letter-spacing: 3px;
    width: 80%;
    font-weight: 500;
  }


  /* IMG_PROJETCT */

  /* .project {
    height: 1200px;
    background-color: var(--secondary);
  }

  /* .project-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  } 

  .title-card {
    letter-spacing: 6px;
    margin-top: 3px;
  } */
}





@media screen and (max-width: 768px) {
* {
  padding: 0;
  margin: 0;
}

    body {
      padding: 0 30px;
    }


    /*  BAGIAN BURGER  */
    /* .burger {
      display: block;
      position: sticky;
      top: 0;

      padding-block: 1;
    } */




    /* Bagian Header */

    /* header {
      padding-block: 1;

      position: sticky;
      top: 0;
      z-index: 999;
    } */
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 120px;
    }
    .nav ul {
      text-align: center;
      margin: 20px 0;
    }
    .nav li a {
      font-size: 25px;
      letter-spacing: 5px;
      color: rgb(255, 255, 255);
    }
    .nav li a:hover{
      font-size: 22px;
    }
    .logo {
      font-size: 17px;
      margin-top: 15px;
    }


    /* Bagian Home Page Awal */
    
    .top {
      height: 1000px;
    } 
    .top-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
    .img-top {
      width: 700px;
    }
    .right-txt {
      margin-top: 20px;
    }
    .right-txt .h2-right-txt, .h4-right-txt, .p1-right-txt{
      text-align: center;
      font-size: 23px;
    }


    /* BAGIAN EDUCATION */
    
    .container-txt-gif {
      width: 860px;
    }
}








/*  RESPONSIVE 425px  */

@media screen and (max-width: 425px){
  

  .top {
    height: 1870px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-top {
    width: 900px;
    margin-bottom: 200px;
  }

  .right-txt .h2-right-txt, .h4-right-txt, .p1-right-txt{
    font-size: 36px;
    width: 750px;
  }


  /*  EDUCATION  */

  .mid {
    height: 1700px;
  }

  .container-txt {
    padding: 30px;
  }

  .Sub-judul {
    font-size: 30px;
  }

  .mid-container {
    margin: 55px 10px;
    display: flex;
    justify-content: start;
    padding: 100px;

    height: 1500px;
  }

  .education-name {
    font-size: 30px;
    width: 400px;
    text-align: center;  
    letter-spacing: 4px;

    font-weight: 500;
  }

  .education-name2 {
    letter-spacing: 3px;
    font-size: 25px;

    padding: 20px;
  }

  .rgh {
    width: 700px;
    font-size: 26px;
    text-align: center;

    margin-top: 30px;
  }

  .GIF {
    width: 600px;
    height: 300px;
    margin-top: 150px;
  }

  /*  PROJECT RESPONSIVE  */

  .project {
    height: 1877px;
    background-color: #d8d8d8;
  }

  .container-padding-project {
    padding: 40px;
  }

  .sub-project {
    font-size: 30px;
  }

  .title-project {
    font-size: 27px;
  }

  .project-img-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .project-img1 {
    width: 600px;
  }

  .project-img2 {
    margin-top: 100px;
    width: 580px;
  }

  .card-project {
    width: 600px;
    height: 800px;
    
    margin: 40px auto;
  }

  .hover-project {
    height: 690px;
  }

  .title-card {
    font-size: 25px;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-top: 40px;
    color: var(--buttonText);
  }

  .title-card2 {
    letter-spacing: 7px;
    font-size: 19px;

    color: var(--buttonText);
  }

/*  SERTIFIKAT RESPONSIVE  */

  .sertifikat {
    height: 1000px;
  }

  .container-all-sertifikat {
    align-items: center;
    padding: 40px 40px;
  }

  .title-sertifikat {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .title-sertifikat2 {
    font-size: 20px;
  }

  .sertifikat-img {
    width: 900px;
  }


  /*  CONTACT RESPONSIVE  */

  .sub-contact-content {
    font-size: 30px;
  }

  .container-flex-contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact-item {
    width: 1000px;
    display: flex;
    justify-content: space-around;

    padding: 30px;
  }

  .mid-icon {
    margin-left: -70px;
  }
  .contact-item-icon2{
    margin: auto 200px;
  }

  .icon3{
    margin-top: 10px;
  } 


  .contact-form input, .contact-form textarea {
    width: 1000px;
    padding: 30px;

    margin-top: 20px;

    font-size: 25px;
    letter-spacing: 2px;
  }

  .btn-sumbit {
    font-size: 22px;
    letter-spacing: 4px;

    width: 500px;
    padding: 30px;
  }


  /*  FOOTER RESPONSIF  */

  footer {
    height: 350px;
  }

  .container-footer .title {
    font-size: 33px;
    letter-spacing: 4px;
  }

  .p-title {
    font-size: 26px;
  }

  .paragraf {
    font-size: 20px;
    margin-top: 30px;
  }
}

